body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    
    font-family: 'Chicle', cursive;
    background-color: red;
    
}

h1 {
    font-size: 8em;
    color: yellow;
    text-shadow: 3px 3px blue;
    margin: 0;
}

h3 {
    font-family: 'Chicle', cursive;
    /* color: yellow;
    text-shadow: 3px 3px blue; */
    margin-top: 10px; 
}

.cards {
    padding: 0;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 300px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.progress {
    margin-top: 10px;
    height: 20px;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Chicle', cursive;
    background-color: red;
    /* font-size: 8em; */
    color: yellow;
    text-shadow: 3px 3px blue;
    margin: 0;
    
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 5em;
        
    }
  }